accelerate
datasets
einops
gin_config
huggingface_hub
numpy
opencv-python
pandas
pillow
polars
scikit-learn
scipy
sentence_transformers
tlparse
torch
torchaudio
torch_geometric
torchvision
tqdm
triton
wandb